<section class="content">
  <div class="mission-page">
    <div *ngIf="mission; else errorTemplate" class="planet-details">
      <h1>{{ mission.name }}</h1>
      <hr>
      <p><strong>Launch Date:</strong> {{ mission.launchDate }}</p>
      <p><strong>End Date:</strong> {{ mission.endDate }}</p>
      <p><strong>Target:</strong> {{ mission.target }}</p>
      <p><strong>Status:</strong> {{ mission.status }}</p>
      <p><strong>Description:</strong> {{ mission.description }}</p>
      <p><strong>Interactive Map:</strong> </p>
    </div>
    <ng-template #errorTemplate>
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
    </ng-template>
  </div>
</section>

