@if(moon){
    <div class="moon-container">
        <article class="moon-info">
            <div id="moon" aria-label="Moon Information">
                <dl>
                    <dt>Name:</dt>
                    <dd><span>{{moon.name || "Not available"}}</span></dd>
                    <dt>Mass:</dt>
                    <dd><span>{{moon.mass || "Not available"}}</span></dd>
                    <dt>Radius:</dt>
                    <dd><span>{{moon.radius || "Unknown"}}</span></dd>
                    <dt>Planet Distance:</dt>
                    <dd><span>{{moon.planetDistance || "Not available"}}</span></dd>
                    <dt>Orbital Period:</dt>
                    <dd><span>{{moon.orbitalPeriod || "Unavailable"}}</span></dd>
                    <dt>Discovery Date:</dt>
                    <dd><span>{{moon.discoveryDate || "No description available"}}</span></dd>
                    <dt>Discovered By:</dt>
                    <dd><span>{{moon.discoveredBy || "Not available"}}</span></dd>
                    <dt>Atmosphere:</dt>
                    <dd><span>{{moon.atmosphere || "Unavailable"}}</span></dd>
                    <dt>Planet:</dt>
                    <dd><span>{{moon.planetId || "No description available"}}</span></dd>
                    <dt>Description:</dt>
                    <dd><span>{{moon.description || "No description available"}}</span></dd>
                </dl>
            </div>
        </article>
    </div> 
}
