@if(moon){
  <div class="moon-container">
    <article class="moon-info">
      <div class="moon-layout">
        
        <!-- Sezione Immagine -->
        <div class="moon-image-container">
          @if(moon.imageUrl) {
            <img 
              [src]="moon.imageUrl" 
              [alt]="moon.name + ' image'"
              class="moon-image"
            />
          } @else {
            <div class="placeholder-image">
              No image available
            </div>
          }
        </div>

        <div id="moon" aria-label="Moon Information">
          <dl>
            <dt>Name:</dt> <dd><span>{{moon.name || "Not available"}}</span></dd>
            <dt>Mass:</dt> <dd><span>{{moon.mass || "Not available"}}</span></dd>
            <dt>Radius:</dt> <dd><span>{{moon.radius || "Unknown"}}</span></dd>
            <dt>Planet Distance:</dt> <dd><span>{{moon.planetDistance || "Not available"}}</span></dd>
            <dt>Orbital Period:</dt> <dd><span>{{moon.orbitalPeriod || "Unavailable"}}</span></dd>
            <dt>Discovery Date:</dt> <dd><span>{{moon.discoveryDate || "No description available"}}</span></dd>
            <dt>Discovered By:</dt> <dd><span>{{moon.discoveredBy || "Not available"}}</span></dd>
            <dt>Atmosphere:</dt> <dd><span>{{moon.atmosphere || "Unavailable"}}</span></dd>
            <dt>Planet:</dt> <dd><span>{{moon.planetId || "No description available"}}</span></dd>
            <dt>Description:</dt> <dd><span>{{ moon.description ? (moon.description.split(' ').slice(0, 20).join(' ') + '...') : "No description available" }}</span></dd>
          </dl>
        </div>
      </div>
    </article>
  </div>
}

