<!-- @if(spacecraftDetails){
    <div id="spacecraftCard">
        @for(spacecraft of spacecraftDetails; track $index){
            <app-spacecrafts [spacecraft]="spacecraft"></app-spacecrafts>
        }     
    </div>
}
 -->
 @if (spacecraftDetails) {
    <div id="factCard">
        @for (spacecraft of spacecraftDetails; track spacecraft) {
            <app-spacecrafts [spacecraft]="spacecraft"></app-spacecrafts>
        }
    </div>
} @else {
    <p>Nessun dato disponibile.</p>
}
<button (click)="prevPage()" [disabled]="page === 0">Pagina Precedente</button>
<span> Pagina {{ page + 1 }} di {{ totalPages }} </span>
<button (click)="nextPage()" [disabled]="page >= totalPages - 1">Pagina Successiva</button>
