@if(planet){
  <div class="planet-container">
    <article class="planet-info">
      <div class="planet-layout">
        
        <div class="planet-image-container">
          @if(planet.imageUrl) {
            <img 
              [src]="planet.imageUrl" 
              [alt]="planet.name + ' image'"
              class="planet-image"
            />
          } @else {
            <div class="placeholder-image">
              No image available
            </div>
          }
        </div>

        <div id="planet" aria-label="Planet Information">
          <dl>
            <dt>Name:</dt> <dd> <span> {{planet.name || "Unknown"}} </span> </dd>
            <dt>Mass:</dt> <dd> <span> {{planet.mass || "Not available"}} </span> </dd>
            <dt>Radius:</dt> <dd> <span> {{planet.radius || "Not available"}} </span> </dd>
            <dt>Star Distance:</dt> <dd> <span> {{planet.starDistance || "Not available"}} </span> </dd>
            <dt>Orbital Period:</dt> <dd> <span> {{planet.orbitalPeriod || "Not available"}} </span> </dd>
            <dt>Discovery Date:</dt> <dd> <span> {{planet.discoveryDate || "Not available"}} </span> </dd>
            <dt>Discovered By:</dt> <dd> <span> {{planet.discoveredBy || "Unknown"}} </span> </dd>
            <dt>Atmosphere:</dt> <dd> <span> {{planet.atmosphere || "Not available"}} </span> </dd>
            <dt>Ring System:</dt> <dd> <span> {{planet.hasRingSystem || "No"}} </span> </dd>
            <dt>Description:</dt> <dd> <span> {{ planet.description ? (planet.description.split(' ').slice(0, 20).join(' ') + '...') : "No description available" }} </span></dd>
          </dl>
        </div>
      </div>
    </article>
  </div>   
}



