@if(planet){
    <article>
        <div id="planetCard">
            <p>Name: {{planet.name}}</p>
            <p>Mass: {{planet.mass}}</p>
            <p>Radius: {{planet.radius}}</p>
            <p>Star Distance: {{planet.starDistance}}</p>
            <p>Orbital Period: {{planet.orbitalPeriod}}</p>
            <p>Discovery Date: {{planet.discoveryDate}}</p>
            <p>Discovered By: {{planet.discoveredBy}}</p>
            <p>Atmosphere: {{planet.atmosphere}}</p>
            <p>Ring System: {{planet.hasRingSystem}}</p>
            <p>Description: {{planet.description}}</p>
        </div>
    </article>
}