<!-- @if(factDetails){
    <div id="factCard">
        @for(fact of factDetails; track $index){
            <app-facts [fact]="fact"></app-facts>
        }     
    </div>
}
<button (click)="prevPage()" [disabled]="page === 0">Pagina Precedente</button>
<span> Pagina {{ page + 1 }} di {{ totalPages }} </span>
<button (click)="nextPage()" [disabled]="page >= totalPages - 1">Pagina Successiva</button>


 -->
 @if (factDetails) {
    <div id="factCard">
        @for (fact of factDetails; track fact) {
            <app-facts [fact]="fact"></app-facts>
        }
    </div>
} @else {
    <p>Nessun dato disponibile.</p>
}

<!-- Paginazione -->
<button (click)="prevPage()" [disabled]="page === 0">Pagina Precedente</button>
<span> Pagina {{ page + 1 }} di {{ totalPages }} </span>
<button (click)="nextPage()" [disabled]="page >= totalPages - 1">Pagina Successiva</button>

