<div>
  <label for="category-select">Filter by category:</label>
  <select id="category-select" (change)="onCategoryChange($event)">
    <option value="">All</option>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>
</div>

@if (filteredFacts && filteredFacts.length > 0) {
  <div id="factCard">
    <div *ngFor="let fact of filteredFacts; trackBy: trackById">
      <app-facts [fact]="fact"></app-facts>
    </div>
  </div>
} @else {
  <p>No data Available</p>
}

<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="page === 0">Previews Page</button>
  <span> Page {{ page + 1 }} of {{ totalPages }} </span>
  <button (click)="nextPage()" [disabled]="page >= totalPages - 1">Next Page</button>
</div>
