<div>
  <label for="category-select">Filtra per categoria:</label>
  <select id="category-select" (change)="onCategoryChange($event)">
    <option value="">Tutte</option>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>
</div>

@if (filteredFacts && filteredFacts.length > 0) {
  <div id="factCard">
    <div *ngFor="let fact of filteredFacts; trackBy: trackById">
      <app-facts [fact]="fact"></app-facts>
    </div>
  </div>
} @else {
  <p>Nessun dato disponibile.</p>
}

<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="page === 0">Pagina Precedente</button>
  <span> Pagina {{ page + 1 }} di {{ totalPages }} </span>
  <button (click)="nextPage()" [disabled]="page >= totalPages - 1">Pagina Successiva</button>
</div>
