@if(spacecraft){
    <div class="spacecraft-container">
        <article class="spacecraft-info">
            <div id="spacecraft" aria-label="Spacecraft Information">
                <dl>
                    <dt>Name:</dt>
                    <dd><span>{{spacecraft.name || "Unknown"}}</span></dd>
                    <dt>Type:</dt>
                    <dd><span>{{spacecraft.type || "Not available"}}</span></dd>
                    <dt>Manufacturer:</dt>
                    <dd><span>{{spacecraft.manufacturer || "Not available"}}</span></dd>
                    <dt>Launch Vehicle:</dt>
                    <dd><span>{{spacecraft.launchVehicle || "Not available"}}</span></dd>
                    <dt>Mission ID:</dt>
                    <dd><span>{{spacecraft.missionId || "Not available"}}</span></dd>
                    <dt>Description:</dt>
                    <dd><span>{{spacecraft.description || "Not available"}}</span></dd>
                </dl>
            </div>
        </article>
    </div>   
}
