@if(spacecraft) {
  <div class="spacecraft-container">
    <article class="spacecraft-info">
      <div class="spacecraft-layout">
        
        <div class="spacecraft-image-container">
          @if(spacecraft.imageUrl) {
            <img 
              [src]="spacecraft.imageUrl" 
              [alt]="spacecraft.name + ' image'"
              class="spacecraft-image"
            />
          } @else {
            <div class="placeholder-image">
              No image available
            </div>
          }
        </div>

        <div id="spacecraft" aria-label="Spacecraft Information">
          <dl>
            <dt>Name:</dt> <dd> <span> {{spacecraft.name || "Unknown"}} </span> </dd>
            <dt>Type:</dt> <dd> <span> {{spacecraft.type || "Not available"}} </span> </dd>
            <dt>Manufacturer:</dt> <dd> <span> {{spacecraft.manufacturer || "Not available"}} </span> </dd>
            <dt>Launch Vehicle:</dt> <dd> <span> {{spacecraft.launchVehicle || "Not available"}} </span> </dd>
            <dt>Mission ID:</dt> <dd> <span> {{spacecraft.missionId || "Not available"}} </span> </dd>
            <dt>Description:</dt> <dd> <span> {{ spacecraft.description ? (spacecraft.description.split(' ').slice(0, 20).join(' ') + '...') : "No description available" }} </span></dd>
          </dl>
        </div>
      </div>
    </article>
  </div>
}

