<section class="content">
  <div class="moon-page">
    <div *ngIf="moon;else errorTemplate" class="moon-details">
      <h1>{{ moon.name }}</h1>
      <hr>
      <p>{{ moon.description }}</p>
      <h2>Astronomical Data and Discovery</h2>
      <hr id="hrh2">
      <p><strong>Mass:</strong> {{ moon.radius }} km</p>
      <p><strong>Radius:</strong> {{ moon.radius }} AU</p>
      <p><strong>Planet Distance:</strong> {{ moon.planetDistance }} days</p>
      <p><strong>Orbital Period:</strong> {{ moon.orbitalPeriod }}</p>
      <p><strong>Discovery Date:</strong> {{ moon.discoveryDate }}</p>
      <p><strong>Discovered By:</strong> {{ moon.discoveredBy }}</p>
      <p><strong>Atmosphere</strong> {{ moon.atmosphere ? 'Yes' : 'No' }}</p>
      <p><strong>ID Planet:</strong> {{ moon.planetId }}</p>
      <h2>Interactive view</h2>
      <hr id="hrh2">
    </div>
    <figure>
      <span>
        <iframe *ngIf="iframeUrl" [src]="iframeUrl" title="Solar System" class="smd-iframe-iframe border-0"
          allow="fullscreen">
        </iframe>
      </span>
    </figure>
    
    <ng-template #errorTemplate>
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
    </ng-template>
  </div>
</section>


