<nav class="navbar">
  <h1 class="title">
    <a routerLink="/" class="wiki-button">
      <img src="assets/Astroverse.png" alt="AstroVerse" class="title-image">
    </a>
  </h1>
  <h3 class="view">
    <a routerLink="/">View</a>
  </h3>
  <h3 class="facts">
    <a routerLink="/facts">Facts</a>
  </h3>
  <h3 class="quiz">
    <a routerLink="/quiz">Quiz</a>
  </h3>
  <h3 class="aboutus">
    <a routerLink="/members">About us</a>
  </h3>
  <div class="section section-hover section-double">
    <div class="input-container"><input _ngcontent-ng-c2420471674="" type="text" name="text"
        placeholder="Search..." class="input ng-pristine ng-valid ng-touched"></div>
  </div>
</nav>









  

<li><a routerLink="/planets">Planets</a></li>
<li><a routerLink="/moons">Moons</a></li>
<li><a routerLink="/stars">Stars</a></li>
<li><a routerLink="/missions">Missions</a></li>
<li><a routerLink="/spacecrafts">Spacecrafts</a></li>
<router-outlet></router-outlet>
