.navbar {
  font-family: Erode;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 90px;
  background-color: rgba(41, 30, 65, 0.452);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar h3.quiz a {
    margin-left: -1px;
    /* Adjust the value to fix the gap */
}

.navbar h3.aboutus a {
    margin-left: 0.2px;
}



.wiki-button {
  font-size: 40px;
  margin-left: 75px;
  margin-right: 75px;
}

.title-image {
  margin-top: 10px;
}

img {
  height: 1.9em;
}

.navbar h3 a {
    text-decoration: none;
    padding: 34.5px 128px;
    background-color: transparent;
    color: white;
    position: relative;
    overflow: hidden;
    /* Required for the animation to stay within the button */
    transition: color 0.3s ease-in-out;
    /* Smooth text color transition */
}

.navbar h3 a::before {
    content: '';
    position: absolute;
    bottom: 0;
    /* Start from the bottom */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 61, 163, 0.452);
    /* Filling color */
    transform: scaleY(0);
    /* Initially hidden */
    transform-origin: bottom;
    /* Animate from bottom to top */
    transition: transform 0.2s ease-in-out;
    /* Smooth filling animation */
    z-index: -1;
    /* Ensure it's behind the text */
}

.navbar h3 a.active::before {
    transform: scaleY(1);
    /* Fully fill the button */
}

.navbar h1,
.navbar h3 {
  color: white;
}

.input-container {
  margin-left: 43px;
}

.navbar h3 a {
  text-decoration: none;
  padding: 34.5px 128px;
  background-color: transparent;
  color: white;
    position: relative;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar h3 a:hover::after,
.navbar h3 a.active::after {
    content: '';
    position: absolute;
    bottom: 0.1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(83, 61, 163);
}

h3 {
  font-size: 18px;
  letter-spacing: 1px;
  justify-content: center;
  white-space: nowrap;
}

body {
  color: white;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-container {
  width: 100%;
}

.input {
  font-family: 'Orbitron', sans-serif;
  width: 85%;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  background-color: rgba(83, 61, 163, 0.452);
  font-size: 16px;
  color: #ffffff;
  outline: none;
}

.input:focus {
  background-color: rgba(83, 61, 163, 0.452);
  transform: scale(102%);
  transition: all 0.3s ease-in-out;
}

.input::placeholder {
  font-family: Erode, sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
}






