<nav class="navbar">
  <h1 class="title">
    <a routerLink="/" class="wiki-button" [class.active]="activeLink === 'home'" (click)="setActiveLink('home')">
      <img src="assets/Astroverse.png" alt="AstroVerse" class="title-image">
    </a>
  </h1>
  <h3 class="view">
    <a routerLink="/" [class.active]="activeLink === 'view'" (click)="setActiveLink('view')">View</a>
  </h3>
  <h3 class="facts">
    <a routerLink="/facts" [class.active]="activeLink === 'facts'" (click)="setActiveLink('facts')">Facts</a>
  </h3>
  <h3 class="quiz">
    <a routerLink="/quiz" [class.active]="activeLink === 'quiz'" (click)="setActiveLink('quiz')">Quiz</a>
  </h3>
  <h3 class="aboutus">
    <a routerLink="/members" [class.active]="activeLink === 'aboutus'" (click)="setActiveLink('aboutus')">About us</a>
  </h3>
  <div class="section section-hover section-double">
    <div class="input-container">
      <input type="text" name="text" placeholder="Search..." class="input">
    </div>
  </div>
</nav>

<div class="sidebar" [class.collapsed]="isCollapsed">
 
  <div class="sidebar-folder" (click)="toggleSidebar()"><p>Sections</p></div>

  <div style="overflow-y: scroll; scrollbar-width: none; height: 100%;">

    <div *ngFor="let section of sections">
      <div
        [ngClass]="isExpanded(section.id) ? 'section-title-selected' : ''"
        (click)="toggleSection(section.id)"
        class="section-title"
      >
        <div class="flex row" style="justify-content: start;">
          <label class="container-check" [style.rotate]="isExpanded(section.id) ? '90deg' : '0deg'">
            <!-- <input [checked]="isExpanded(section.id)" type="checkbox"> -->
            <svg viewBox="0 0 320 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="chevron-right"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
          </label>
          <h5>{{ section.name }}</h5>
        </div>
        <div
          #pageList
          data-id="{{ section.id }}"
          class="page-list"
          [style.height]="isExpanded(section.id) ? contentHeight : '0'"
          [style.overflow]="isExpanded(section.id) ? 'visible' : 'hidden'"
        >
          <div class="page" *ngFor="let page of section.pages" (click)="navigateToPage(page, $event)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







  

<!-- <li><a routerLink="/planets">Planets</a></li>
<li><a routerLink="/moons">Moons</a></li>
<li><a routerLink="/stars">Stars</a></li>
<li><a routerLink="/missions">Missions</a></li>
<li><a routerLink="/spacecrafts">Spacecrafts</a></li> -->
<router-outlet></router-outlet>
