:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: 
    radial-gradient(circle at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 1) 85%
    ),
    url('https://miro.medium.com/v2/resize:fit:828/format:webp/1*vcDn-LBjj0IaD98XZaokJA.gif') no-repeat center center fixed;
  background-size: cover;
  margin-top: -85px;
}

.quiz-home-container {
  text-align: center;
  padding: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.7);
  display: inline-block;
  margin: 50px;
  max-width: 90%;
  width: 750px;
  margin-top: -10px;
}

h1 {
  font-size: 4rem;
  color: #ffcc00;
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00;
  margin-bottom: 20px;
}

p {
  font-size: 1.8rem;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  margin-bottom: 30px;
}

label {
  font-size: 1.5rem;
  color: #ffffff;
}

select {
  background: rgba(23, 18, 40, 0.9);
  color: #dadada;
  border: 1px solid rgba(40, 31, 78, 0.3);
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.3s ease;
  margin-top: 2px;
}

.start-quiz-btn {
  padding: 20px 40px;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #ffaa00, #ff3300);
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 25px #ffaa00, 0 0 50px #ff3300;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 20px;
}

.start-quiz-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px #ffaa00, 0 0 100px #ff3300;
}
