<section class="content">
  <div class="spacecraft-page">
      <div *ngIf="spacecrafts; else errorTemplate" class="planet-details">
        <h1>{{ spacecrafts.name }}</h1>
        <hr>
        <p>{{ spacecrafts.description }}</p>
        <h2>Spacecraft Data and Launch Information</h2>
        <hr id="hrh2">
        <p><strong>Type: </strong> {{ spacecrafts.type }}</p>
        <p><strong>Manufacturer: </strong> {{ spacecrafts.manufacturer }}</p>
        <p><strong>Launch vehicle: </strong> {{ spacecrafts.launchVehicle }}</p>
        <h2>Interactive view</h2>
        <hr id="hrh2">
      </div>
      <figure>
        <span>
          <iframe *ngIf="iframeUrl" [src]="iframeUrl" title="Solar System" class="smd-iframe-iframe border-0"
            allow="fullscreen"></iframe>
        </span>
      </figure>
      <ng-template #errorTemplate>
        <p *ngIf="errorMessage">{{ errorMessage }}</p>
      </ng-template>
  </div>
</section>

