<div id="divPrincipale">
  <div>
    <img src="../../../assets/ilies.jpg" alt="Mohamed">
    <h1>Mohamed Ilies Chikhaoui</h1>
    <h4>Il Genio 💣🏢🏢💥🛩</h4>
  </div>
  <div>
    <img src="../../../assets/erian.png" alt="Erian">
    <h1>Ejran Mustafoski</h1>
    <h4>Let him eat 🌯🥙🍔🍕</h4>
  </div>
  <div>
    <img src="../../../assets/luka.jpg" alt="Pikachu">
    <h1>Luca Galimberti</h1>
    <h4>Awooga 💦</h4>
  </div>
  <div>
    <img src="../../../assets/SUS.jpg" alt="Lollolewa">
    <h1>Lorenzo Salvatori</h1>
    <h4>ScemoChiLegge</h4>
  </div>
  <div>
    <img src="../../../assets/steklinasn.jpg" alt="stelitano">
    <h1>Alessandro Stelitano</h1>
    <h4>☭</h4>
  </div>
  <div>
    <img src="../../../assets/anndnre.png" alt="LAfRANCA">
    <h1>Andrea (Er) Macellaro La Franca</h1>
    <h4>Il Grinder</h4>
  </div>
  <div>
    <img src="../../../assets/joshua.png" alt="Sasua">
    <h1>Joshua Castellani</h1>
    <h4>Let Him Cook 🥵</h4>
  </div>
</div>

