<div id="divPrincipale">
    <div>
        <img src="../../../assets/1001.png" alt="non caricata con sesso">
        <h1>Mohamed Ilies Chikhaoui</h1>
        <h4>Il Genio</h4>
    </div>
    <div>
        <img src="../../../assets/1001.png" alt="non caricata con sesso">
        <h1>Ejran Mustafoski</h1>
        <h4>Il Fantasista</h4>
    </div> 
    <div>
        <img src="../../../assets/1001.png" alt="non caricata con sesso">
        <h1>Luca Galimberti</h1>
        <h4>L'assetato</h4>
    </div> 
    <div>
        <img src="../../../assets/1001.png" alt="non caricata con sesso">
        <h1>Lollolewa</h1>
        <h4>Il Fantasma</h4>
    </div> 
    <div>
        <img src="../../../assets/1001.png" alt="non caricata con sesso">
        <h1>Alessandro Stelitano</h1>
        <h4>Volato In Cielo</h4>
    </div> 
    <div>
        <img src="../../../assets/1001.png" alt="non caricata con sesso">
        <h1>Andrea Macellaro LaFranca</h1>
        <h4>Il Grinder</h4>
    </div> 
    <div>
        <img src="../../../assets/1001.png" alt="non caricata con sesso">
        <h1>Joshua Castellani</h1>
        <h4>Let Him Cook</h4>
    </div> 
</div>
