<div *ngIf="star; else errorTemplate" class="star-details">
    <h1>{{ star.name }}</h1>
    <p><strong>Mass:</strong> {{ star.mass }} km</p>
    <p><strong>Radius:</strong> {{ star.radius }} AU</p>
    <p><strong>Planet Distance:</strong> {{ star.spectralType }} days</p>
    <p><strong>Orbital Period:</strong> {{ star.luminosity }}</p>
    <p><strong>Discovery Date:</strong> {{ star.temperature }}</p>
    <p><strong>Description:</strong> {{ star.description }}</p>
    <p><strong>Image:</strong> {{ star.image }}</p>
  </div>

  <figure>
    <span>
        <iframe 
          *ngIf="iframeUrl"
          [src]="iframeUrl"
          title="Solar System" 
          class="smd-iframe-iframe border-0" 
          allow="fullscreen"
          >
        </iframe>
    </span>
  </figure>
  
  <ng-template #errorTemplate>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </ng-template>

