<section class="content">
    <div class="wiki-home">
        <h1>AstroVerse Official Wiki</h1>
        <hr>
        <p>Explore the infinite wonders of the cosmos with AstroVerse Wiki, your ultimate guide to the universe. Dive into
        captivating articles about stars, planets, moons, galaxies, and the groundbreaking missions that have unveiled the
        secrets of space.
        AstroVerse combines science, storytelling, and stunning visuals to illuminate the mysteries of black holes, supernovae,
        and distant exoplanets. <br> Whether you're a space enthusiast or a casual stargazer, our interactive and user-friendly
        platform takes you on a journey across the vast expanse of the cosmos, right from your screen.
        Discover. Learn. Be inspired by the infinite possibilities of the AstroVerse.</p>
        <h2>Popular Articles</h2>
        <hr id="hrh2">
        <ul>
            <li><a href="#">The Solar System</a></li>
            <li><a href="#">Black Holes</a></li>
            <li><a href="#">Galaxies</a></li>
            <li><a href="#">Space Exploration</a></li>
        </ul>

        <h2>Categories</h2>
        <hr id="hrh2">
        <ul>
            <li><a href="#">Astronomy</a></li>
            <li><a href="#">Astrophysics</a></li>
            <li><a href="#">Cosmology</a></li>
            <li><a href="#">Space Missions</a></li>
        </ul>

        <h2>Recent Updates</h2>
        <hr id="hrh2">
        <ul>
            <li><a href="#">New Horizons Mission Update</a></li>
            <li><a href="#">Latest Discoveries in Exoplanets</a></li>
            <li><a href="#">Advancements in Space Telescopes</a></li>
        </ul>
    </div>
</section>
